body {
  font-family: "Kumbh Sans", sans-serif;
  color: #2d3248;
  background-color: #19a2ae;
  background-image: url(images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: -300px -530px;
}

h3 {
  margin: 0;
}
p {
  margin: 0;
}

.main-profile-card {
  background-color: white;
  margin: 10% auto 10% auto;
  width: 350px;
  border-radius: 10px;
}

.pattern-card {
  border-radius: 10px 10px 0px 0px;
}
.middle-container {
  text-align: center;
  margin-top: 60px;
}

.middle-container p {
  color: #969696;
  font-size: 12px;
  margin-top: 10px;
}

.perfil-photo {
  border-radius: 50%;
  position: absolute;
  background-color: white;
  padding: 5px;
  right: 45%;
  left: 46%;
  top: 35%;
}

.button-container {
  border-top: 1px solid rgb(150, 150, 150, 0.2);
  margin-top: 25px;
  text-align: center;
  padding-top: 15px;
}

.button-container p {
  color: #969696;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 10px;
}

.followers {
  display: inline-block;
  margin: 20px;
}

.likes {
  display: inline-block;
  margin: 20px;
}

.photos {
  display: inline-block;
  margin: 20px;
}

.age {
  font-weight: 400;
  color: #969696;
  margin-left: 5px;
}
